################## required ##################

# MongoDB Configuration
# Format: mongodb://username:password@host:port/database or mongodb+srv://...
MONGODB_URI=mongodb://localhost:27017/docsearch




############################## optional ###########################
# Message Queue Configuration
RABBIT_HOST=localhost
RABBIT_PORT=5672

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379


# Search Configuration
MAX_DOC_LIMIT=200
PREVIEW_LENGTH=3
MAX_PREVIEW_COUNT=3


# Realm Configuration
# Define allowed realm keys for document filtering (comma-separated)
# Example: client_id,department,project
REALM_KEYS=
REALM_CONFIG_JSON_PATH=<realm config file path> ## Note: Inside the json file it must be in this structure {"realm_keys":[<realm names (comma seperated)>]}

# Parser device configuration
EASYOCR_DEVICE = "cpu" ## either 'cpu' or 'gpu'